@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 600px;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
  border: solid 4px #000;
  border-radius: 4px;
}

.books {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px 5px 10px 5px;
}

.row-div {
  height: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #ccc;
  padding: 5px;
  position: relative;
}

.books button {
  font-size: 1rem;
  margin-top: 5px;
  cursor: pointer;
  width: 20%;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 10px;
  box-shadow: 3px 3px 3px #000;
}

.books-generator {
  height: 220px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subtitle {
  font-size: 34px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
}

.form input {
  padding: 5px;
  width: 300px;
  color: #000;
  border: solid 4px #000;
}

.form button {
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
  width: 20%;
  position: absolute;
  right: 5px;
  bottom: 0;
  box-shadow: 3px 3px 3px #000;
}
