@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 90%;
}

section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 4px #000;
}

.nav-title {
  flex-grow: 1;
  padding: 15px;
}

.nav-title p {
  font-size: 1.2rem;
}

.nav-links {
  flex-grow: 1;
}

.links-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.link:focus {
  color: #0448af;
}

.line {
  height: 40px;
  border-right: solid 1px green;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.list h2 {
  font-size: 2rem;
  margin: 20px;
}

.container {
  display: flex;
  width: 600px;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
  border: solid 4px #000;
  border-radius: 4px;
}

.books {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px 5px 10px 5px;
}

.row-div {
  height: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #ccc;
  padding: 5px;
  position: relative;
}

.books button {
  font-size: 1rem;
  margin-top: 5px;
  cursor: pointer;
  width: 20%;
  position: absolute;
  right: 5px;
  top: 2px;
  box-shadow: 3px 3px 3px #000;
}

.books-generator {
  width: 400px;
  height: 220px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subtitle {
  font-size: 34px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
}

.form input {
  padding: 5px;
  width: 300px;
  color: #000;
  border: solid 4px #000;
}

#btn-add {
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
  width: 20%;
  box-shadow: 3px 3px 3px #000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info h2 {
  font-size: 2rem;
  margin: 20px;
}

.contact-info p {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.contact-info ul li {
  font-weight: 500;
  font-size: 1.1rem;
  padding: 5px;
}

.footer-info {
  width: 100%;
  margin: 20px;
}

.footer-info p {
  padding: 5px;
  font-size: 1.3rem;
  border: solid 4px #000;
}

.bg-footer {
  width: 100vw;
  height: 50px;
  background-color: #ccc;
  border: solid 4px #000;
}
